<div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
    <h2 class="card-title font-weight-bold mb-1">Welcome to Vuexy! 👋</h2>
    <p class="card-text mb-2">Please sign-in to your account and start the adventure</p>
    <form class="auth-login-form mt-2" #frmLogin="ngForm">
        <div class="form-group">
            <!-- [(ngModel)]="body.userName" #username="ngModel" -->
            <label class="form-label" for="login-email">Email</label>
            <input class="form-control" id="login-email" type="text" name="login-email" placeholder="john@example.com" autofocus="" required />
            <!-- [ngClass]="{'is-invalid': username.errors?.required && username.touched,      'is-valid': !username.errors?.required && username.touched}" -->
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="login-password">Password</label><a href="page-auth-forgot-password-v2.html"><small>Forgot Password?</small></a>
            </div>
            <!-- [(ngModel)]="body.userPassword" #userpsw="ngModel" -->
            <!-- [ngClass]="{'is-invalid': userpsw.errors?.required && userpsw.touched,              'is-valid': !userpsw.errors?.required && userpsw.touched}" -->
            <div class="input-group input-group-merge form-password-toggle">
                <input class="form-control form-control-merge" id="login-password" type="password" name="login-password" placeholder="············" required />
                <div class="input-group-append"><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span></div>
            </div>
        </div>


        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="remember-me" type="checkbox" />
                <label class="custom-control-label" for="remember-me"> Remember Me</label>
            </div>
        </div>
        <!-- (click)="onLogin()" [disabled]="frmLogin.invalid" -->
        <button class="btn btn-primary btn-block">
          <!-- *ngIf="!loading" -->
        <span >
          Sign in
        </span>
        <!-- <i *ngIf="loading" class="fa fa-spinner fa-pulse  "></i> -->
      </button>
    </form>
    <br/>
    <div class="row">
        <div class="col-sm">
            <div id="tableAlert">


            </div>
        </div>
    </div>
    <p class="text-center mt-2"><span>New on our platform?</span><a href="page-auth-register-v2.html"><span>&nbsp;Create an account</span></a></p>
    <div class="divider my-2">
        <div class="divider-text">or</div>
    </div>
    <div class="auth-footer-btn d-flex justify-content-center"><a class="btn btn-facebook" href="javascript:void(0)"><i data-feather="facebook"></i></a><a class="btn btn-twitter white" href="javascript:void(0)"><i data-feather="twitter"></i></a>
        <a class="btn btn-google" href="javascript:void(0)"><i data-feather="mail"></i></a><a class="btn btn-github" href="javascript:void(0)"><i data-feather="github"></i></a></div>
</div>
